.content {
    position: relative;
    height:auto;
}

.scrolled .header {
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 80px;
    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.scrolled .spacer {
    height: 122px;
}

    .header-mobile
    {
        display: none;
    }

.header
{
    width: 100%;
    position: fixed;
    height: 122px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;

    
}

.header__content 
{
    height: 122px;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu 
{
    display: flex;
    align-items: center;
}

.menu__list 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.menu__item 
{
    padding-right: 40px;
}

.menu__item a 
{
    font-family: $font-family, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 5px;
}

.menu__item a:hover
{
    font-family: $font-family, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.social__list 
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    height: 100%;
    width: 105px;
    justify-content: space-between;
}

.social__item
{
    padding-right: 30px;
}

.social__item--vk
{
    background: url("../img/vk-logo.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 13px;   
    background-size: contain;

}

.social__item--vk:hover
{
    background-image: url("../img/vk-hover.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 13px;
    background-size: contain;

}

.social__item--insta
{
    background-image: url("../img/insta_logo.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    color: #9e9f9f;
    background-size: contain;
    position: relative;
    left: 5px;

}

.social__item--insta:hover
{
    background-image: url("../img/insta_hover.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    color: #fff;
    background-size: contain;
    position: relative;
    left: 5px;

}

.social__item--fb
{
    background-image: url("../img/fb-logo.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    color: #9e9f9f;
    background-size: contain;

}

.social__item--fb:hover
{
    background-image: url("../img/fb-hover.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    color: #fff;
    background-size: contain;

}

.phone 
{
    position: relative;
    z-index: 9999;
    height: 122px;
    display: flex;
    align-items: center;
}

.phone__number 
{
    width: 178px;
    height: 41px;
    border-radius: 19px;
    background-image: linear-gradient( 90deg, rgb(245,123,32) 0%, rgb(241,87,34) 100%);
    opacity: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.phone__number a
{
    font-family: $font-family-bold, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
    color: #fff;
    text-decoration: none;
}

.main__all
{
    min-width: 1140px;
    width: 100%;
    margin-top: 30px;
}

.main__content 
{
    width: 100%;
    height: 835px;
    background-image: url("../img/main_bg.png");
    background-size: cover;
    position: relative;
    background-position: right;
    z-index: 998;
    display: flex;
    flex-direction: row;
    align-items: center
}

.content__top
{
    display: flex;
}

.content__logo
{
    padding-right: 40px;
}
.content__text
{
    width: 35%;
    font-family: $font-family, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    position: relative;

}

.content__text::before
{
    content: "";
    background-image: url("../img/main_line.png");
    width: 1px;
    height: 67px;
    position: absolute;
    left: -20px;
    top: -10px;
}

.content__text span
{
    display: block;
}

.main__title
{
    font-family: $font-family-exbold, sans-serif;
    font-size: 185px;
    line-height: 18px;
    color: #6b9800;
}

.content__bottom input
{
    width: 217px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: none;
    font-family: $font-family, sans-serif;
    font-size: 12px;
    color: #222222;
    padding-left: 20px;

}

.content__bottom input[type="text"]
{
    margin-right: 30px;
}

.content__bottom input[type="submit"]
{
    width: 152px;
    height: 44px;
    border-radius: 20px;
    background-image: linear-gradient( 90deg, rgb(78,105,13) 0%, rgb(123,163,25) 100%);
    box-shadow: 0px 16px 54px 0px rgba(0, 0, 0, 0.18);
    display: block;
    margin-top: 30px;
    padding-left: 0;
    font-family: $font-family, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;

}
  
@media screen and (min-width: 768px) and (max-width: 1279px) {

      .header
    {
        display: block;
    }

    .header-mobile
    {
        display: none;
    }

    .main__all {
        min-width: 768px;
        width: 100%;
        margin-top: 30px;
    }

    .main__content 
{
    background-position: bottom;
   
}

  
  }
  
  @media screen and (min-width: 0px) and (max-width: 767px) {

    .scrolled .header {
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 60px;
    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__content 
{
    height: 60px;
}

    .header
    {
        display: none;
    }

    .header-mobile
    {
        height: 60px;
        background-color: #000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .phone 
{
    height: 60px;
    display: flex;
    justify-content: center;
}

    .main__all {
        min-width: auto;
        width: 100%;
        margin-top: 30px;
    }

    .main__content {
        width: 100%;
        height: 500px;
        background-image: url("../img/main_bg.png");
        background-size: cover;
        position: relative;
        background-position: bottom;
        z-index: 998;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .content__top {
    
        display: flex;
        flex-direction: column;
    }

    .content__text
    {
            width: 70%;
    }

    .content__text::before {
        display: none;
    }

    .main__title {
        font-size: 80px;
        line-height: 18px;
        color: #6b9800;
    }

    .content__bottom form 
    {
        display: flex;
        flex-direction: column;
    }

    .content__bottom input[type="text"] {
        margin-bottom: 10px;
    }

    .menu
    {
        display: none;
    }

    .menu__list{
    flex-direction: column;
    text-align: center;
    }

    .menu__item
    {
        padding-right: 0;
        padding-bottom: 20px;
    }
   .social
   {
       display: none;
   }
   
  }